<html>
<head>
	<title>Scrabble Score Calculator</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
	<div class='container'>
		<h1>Scrabble Score Calculator</h1>
		<h2>Enter a word to calculate it's Scrabble Score: </h2>
		<form action='/scrabble_score'>
			<div class='form-group'>
				<label for='word'>Enter Word: </label>
				<input id='word' name='word' class='form-control' type='text'>
			</div>
			<br>
			<br>
			<button type='submit' class='btn-success'>Get Scrabble Score</button>
		</form>
	</div>
</body>
</html>