<html>
<head>
	<title>Scrabble Score Calculator</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
	<div class='container'>
		<h1>Scrabble Score Calculator</h1>
		<h2>Your Score Is: </h2>
		<h3>{{ score }}</h3>
		<form action='/'>
			<button type='submit' class='btn-success'>Enter Another Word</button>
		</form>
	</div>
</body>
</html>